@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans.woff2") format("woff2"), url("../fonts/NotoSans.woff") format("woff"), url("../fonts/NotoSans.ttf") format("ttf"), url("../fonts/NotoSans.eot") format("eot");
  font-display: swap;
  font-size: 25px;
  font-weight: 400;
  line-height: 19px;
}
a {
  text-decoration: none;
}